/**
 * 适配 iphone 底部安全区域（指示条，配合index.html <meta name="viewport" ... />使用
 */
@supports(bottom: env(safe-area-inset-bottom)) {
  #app {
    padding-bottom constant(safe-area-inset-bottom)
    padding-bottom env(safe-area-inset-bottom)
  }
}
body {
  background: #F6F6F6;
}
/**
 * 公共css配置
 */
.text-gray {
  color: #999999;
}
.text-blue {
  color: #0876FF;
}
.text-orange {
  color: #FA6400;
}
